@font-face {
  font-family: BigWiz;
  src: url(assets/fonts/dos-font.otf);
}
@font-face {
  font-family: Logo;
  src: url(assets/fonts/OldWizard.ttf);
}

body{
  display:grid;

}
nav{
  display:flex;
  font-family:BigWiz;
  font-size:1.5rem;
  justify-content: space-evenly;
  border-style:solid;
  border-width:0.2rem;
  width:100vw;
}
nav a{
  text-decoration: none;
}