@font-face {
  font-family: BigWiz;
  src: url(assets/fonts/dos-font.otf);
}
@font-face {
  font-family: Logo;
  src: url(assets/fonts/OldWizard.ttf);
}
@font-face {
  font-family: Runey;
  src: url(assets/fonts/runescape_bold.ttf);
}

body {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #0D0D0D;
  color: #F4B342;
  gap:2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid #8F0177;
  padding: 0.5rem 1rem;
  background-color: #230255;
  position:sticky;
  top:0;
}

#logo {
  height: 8rem;
  width: auto;
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #F4B342;
}

header div a:last-child {
  font-size: 3rem;
}

#myLinks {
  display: none;
  position: absolute;
  top: 6.2rem;
  right: 0;
  background-color: #360185;
  border-left: 0.2rem solid #8F0177;
  border-bottom: 0.2rem solid #8F0177;
}

#myLinks a {
  display: block;
  font-family: BigWiz;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.2rem;
  color: #F4B342;
}

#myLinks a:hover {
  color: #DE1A58;
}

#checkout {
  width: 5rem;
  height: auto;
}

#slogan{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height:50vh;
  background-color: #20077a9d;
  padding:0 0.5rem;
  border-top:0.1rem solid yellow; 
  border-bottom:0.1rem solid yellow; 
  box-sizing:border-box;
}

.logofont{
  font-family:Logo;
}

#welcome{
  margin:0;
}
#tagline {
  font-size:1.3rem !important;
  margin-top: 0;
}


.review{
  display:flex;
  width:100%;
  background-color: #170136;
  border: 0.2rem dotted red;
  font-family: Runey;
  font-size: 1.1rem;
}

.review img {
  /* width:10rem; */
  height:7rem;
}